<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>new</title>
</head>
<body>
    <h1>make a new mongoose</h1>
    <hr>
    <form action="/mongooses" method="POST">
        name: <input type="text" name="name"/>
        <input type="submit" value="submit">
    </form>
    <!-- JSON.stringify(messages) => <%- JSON.stringify(messages) %>  -->
    <% if(messages.registration) { %>
         <% for (var x of messages.registration) { %>
          <h3><%= x %></h3>
         <% } %>
     <% } %>
<hr>


</body>
</html>